* {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

}

/** SIDEBAR **/
.sidebar-left {
    position: relative;
    float: left;
    width: 160px;
    height: calc(100vh - 100px);
    background-color: red;

}

.navbar {
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: blue;
    float: right;
}




/** MAIN PAGE**/
main {
    padding-left: 350px;
}
.container {
    width: 900px;
    height: 300px;
    background-color: white;
}






/** FOOTER **/
footer {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: grey;
    bottom: 0;

}
